/*top-header-area-css*/
.top-header-area {
  border-bottom: 1px solid #eeeeee;
  padding-top: 12px;
  padding-bottom: 12px;
}

.top-header-area .search-box form {
  position: relative;
}

.top-header-area .search-box form .input-search {
  background-color: #f9f9f9;
  color: var(--blackColor);
  padding-left: 15px;
  display: block;
  height: 50px;
  width: 100%;
  border: 0;
}

.top-header-area .search-box form .input-search::-webkit-input-placeholder {
  color: var(--secondaryColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.top-header-area .search-box form .input-search:-ms-input-placeholder {
  color: var(--secondaryColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.top-header-area .search-box form .input-search::-ms-input-placeholder {
  color: var(--secondaryColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.top-header-area .search-box form .input-search::placeholder {
  color: var(--secondaryColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.top-header-area .search-box form .input-search:focus::-webkit-input-placeholder {
  color: transparent;
}

.top-header-area .search-box form .input-search:focus:-ms-input-placeholder {
  color: transparent;
}

.top-header-area .search-box form .input-search:focus::-ms-input-placeholder {
  color: transparent;
}

.top-header-area .search-box form .input-search:focus::placeholder {
  color: transparent;
}

.top-header-area .search-box form button {
  background-color: var(--primaryColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--whiteColor);
  position: absolute;
  line-height: 50px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  padding: 0;
  border: 0;
  right: 0;
  top: 0;
}

.top-header-area .search-box form button:hover {
  background-color: var(--blackColor);
}

.top-header-area ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  text-align: end;
}

.top-header-area ul li {
  display: inline-block;
  margin-right: 7px;
}

.top-header-area ul li a {
  display: block;
  font-size: 20px;
  color: var(--secondaryColor);
}

.top-header-area ul li a:hover {
  color: var(--primaryColor);
}

.top-header-area ul li:last-child {
  margin-right: 0;
}

.top-header-area.white-color {
  border-bottom: none;
  background-color: #1b1c29;
}

.top-header-area.white-color p {
  color: var(--whiteColor);
}

.top-header-area.white-color ul li a {
  color: var(--whiteColor);
}

.top-header-area.white-color ul li a:hover {
  color: var(--primaryColor);
}

.top-header-area .container-fluid {
  max-width: 1360px;
}

/*navbar-area-css*/
.navbar-area.is-sticky {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: var(--blackColor) !important;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navbar-area.white-color {
  background-color: #2a2b39;
}

.navbar-area.white-color.is-sticky {
  background-color: #2a2b39 !important;
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item a {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item a:hover, .navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item a.active {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item:hover a, .navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item.active a {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #2a2b39;
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navbar-area.white-color .patoi-nav .navbar .others-option ul li {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .others-option ul li .form-select {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .others-option ul li .search-icon {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .others-option ul li .search-icon:hover {
  color: var(--primaryColor);
}

.navbar-area.white-color .patoi-nav .navbar .others-option ul li a {
  color: var(--whiteColor);
}

.navbar-area.white-color .patoi-nav .navbar .others-option ul li a:hover {
  color: var(--primaryColor);
}

.navbar-area.white-color .others-option-for-responsive .dot-menu .inner .circle {
  background-color: var(--whiteColor);
}

.navbar-area.white-color .others-option-for-responsive .dot-menu:hover .inner .circle {
  background-color: var(--primaryColor);
}

.navbar-area.white-color .others-option-for-responsive .option-inner {
  background-color: #2a2b39;
}

.navbar-area.white-color .others-option-for-responsive .option-inner .others-option ul li {
  color: var(--blackColor);
}

.navbar-area.white-color .others-option-for-responsive .option-inner .others-option ul li .search-icon {
  color: var(--whiteColor);
}

.navbar-area.white-color .others-option-for-responsive .option-inner .others-option ul li .search-icon:hover {
  color: var(--primaryColor);
}

.navbar-area.white-color .others-option-for-responsive .option-inner .others-option ul li a {
  color: var(--whiteColor);
}

.navbar-area.white-color .others-option-for-responsive .option-inner .others-option ul li a:hover {
  color: var(--primaryColor);
}

.patoi-responsive-nav {
  display: none;
}

.patoi-nav .container-fluid {
  max-width: 1360px;
}

.patoi-nav .navbar {
  padding: 0;
  position: inherit;
}

.patoi-nav .navbar .navbar-brand {
  font-size: inherit;
  line-height: 1;
  padding: 0;
}

.patoi-nav .navbar ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.patoi-nav .navbar .navbar-nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.patoi-nav .navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.patoi-nav .navbar .navbar-nav .nav-item a {
  position: relative;
  color: var(--blackColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-family: var(--headingFontFamily);
  font-size: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.patoi-nav .navbar .navbar-nav .nav-item a:hover, .patoi-nav .navbar .navbar-nav .nav-item a.active {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-toggle {
  padding-right: 19px;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-toggle::after {
  display: none;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-toggle::before {
  right: 0;
  top: 27px;
  font-size: 20px;
  content: "\ecad";
  position: absolute;
  font-family: boxicons;
}

.patoi-nav .navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.patoi-nav .navbar .navbar-nav .nav-item:first-child {
  margin-left: 0;
}

.patoi-nav .navbar .navbar-nav .nav-item:hover a, .patoi-nav .navbar .navbar-nav .nav-item.active a {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  left: 0;
  top: 80px;
  opacity: 0;
  z-index: 99;
  border: none;
  width: 250px;
  margin-top: 0;
  padding: 10px 0;
  border-radius: 0;
  position: absolute;
  background: var(--whiteColor);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  margin: 0;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  display: block;
  padding: 9px 20px;
  position: relative;
  color: var(--blackColor);
  font-family: var(--headingFontFamily);
  font-size: 14px;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-toggle {
  padding-right: 15px;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-toggle::before {
  top: 3px;
  right: 10px;
  font-size: 20px;
  content: "\ecad";
  position: absolute;
  font-family: boxicons;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: auto;
  right: 250px;
  margin-top: 0;
  visibility: hidden;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: var(--blackColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  right: 250px;
  visibility: hidden;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--blackColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  right: -250px;
  visibility: hidden;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--blackColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--primaryColor);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.patoi-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  margin-top: 0;
  visibility: visible;
}

.patoi-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.patoi-nav .navbar .others-option ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.patoi-nav .navbar .others-option ul li {
  display: inline-block;
  margin-right: 15px;
}

.patoi-nav .navbar .others-option ul li .form-select {
  background-position: right 0 center;
  background-color: transparent;
  color: var(--blackColor);
  padding: 0 15px 0 0;
  position: relative;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  cursor: pointer;
  border: 0;
  top: -4px;
  font-size: 13.5px;
  font-family: var(--headingFontFamily);
}

.patoi-nav .navbar .others-option ul li .search-icon {
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  color: var(--blackColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.patoi-nav .navbar .others-option ul li .search-icon:hover {
  color: var(--primaryColor);
}

.patoi-nav .navbar .others-option ul li a {
  display: block;
  line-height: 1;
  font-size: 22px;
  color: var(--blackColor);
}

.patoi-nav .navbar .others-option ul li a:hover {
  color: var(--primaryColor);
}

.patoi-nav .navbar .others-option ul li:last-child {
  margin-right: 0;
}

.others-option-for-responsive {
  display: none;
}

.others-option-for-responsive .dot-menu {
  top: -42px;
  right: 55px;
  height: 30px;
  z-index: 999;
  padding: 0 10px;
  cursor: pointer;
  position: absolute;
}

.others-option-for-responsive .dot-menu .inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.others-option-for-responsive .dot-menu .inner .circle {
  width: 5px;
  height: 5px;
  margin: 0 2px;
  border-radius: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--blackColor);
}

.others-option-for-responsive .dot-menu:hover .inner .circle {
  background-color: var(--primaryColor);
}

.others-option-for-responsive .container {
  position: relative;
}

.others-option-for-responsive .container .container {
  right: 0;
  top: 15px;
  opacity: 0;
  z-index: 2;
  max-width: 300px;
  margin-left: auto;
  visibility: hidden;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  padding-left: 15px;
  padding-right: 15px;
}

.others-option-for-responsive .container .container.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.others-option-for-responsive .option-inner {
  padding: 15px 20px;
  text-align: center;
  background-color: var(--whiteColor);
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
}

.others-option-for-responsive .option-inner .others-option ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.others-option-for-responsive .option-inner .others-option ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.others-option-for-responsive .option-inner .others-option ul li .form-select {
  background-position: right 0 center;
  background-color: transparent;
  color: var(--blackColor);
  padding: 0 15px 0 0;
  position: relative;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  cursor: pointer;
  border: 0;
  top: -4px;
  font-size: 13.5px;
  font-family: var(--headingFontFamily);
}

.others-option-for-responsive .option-inner .others-option ul li .search-icon {
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  color: var(--blackColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.others-option-for-responsive .option-inner .others-option ul li .search-icon:hover {
  color: var(--primaryColor);
}

.others-option-for-responsive .option-inner .others-option ul li a {
  display: block;
  line-height: 1;
  font-size: 22px;
  color: var(--blackColor);
}

.others-option-for-responsive .option-inner .others-option ul li a:hover {
  color: var(--primaryColor);
}

.others-option-for-responsive .option-inner .others-option ul li:last-child {
  margin-right: 0;
}

.others-option-for-responsive .option-inner .others-option ul li:first-child {
  margin-left: 0;
}

/*search-overlay-css*/
.search-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 99999;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-overlay .search-overlay-layer {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.search-overlay .search-overlay-layer:nth-child(1) {
  left: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-overlay .search-overlay-layer:nth-child(2) {
  left: 0;
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
}

.search-overlay .search-overlay-layer:nth-child(3) {
  left: 0;
  -webkit-transition: all 0.9s ease-in-out 0.6s;
  transition: all 0.9s ease-in-out 0.6s;
  background-color: rgba(0, 0, 0, 0.7);
}

.search-overlay .search-overlay-close {
  top: 40px;
  right: 40px;
  width: 50px;
  z-index: 2;
  opacity: 0;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  visibility: hidden;
  position: absolute;
  -webkit-transition: all 0.9s ease-in-out 1.5s;
  transition: all 0.9s ease-in-out 1.5s;
}

.search-overlay .search-overlay-close .search-overlay-close-line {
  width: 100%;
  height: 3px;
  float: left;
  margin-bottom: 5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: var(--whiteColor);
}

.search-overlay .search-overlay-close .search-overlay-close-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-overlay .search-overlay-close .search-overlay-close-line:nth-child(2) {
  margin-top: -7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-overlay .search-overlay-close:hover .search-overlay-close-line {
  background: red;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search-overlay .search-overlay-form {
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-transition: all 0.9s ease-in-out 1.4s;
  transition: all 0.9s ease-in-out 1.4s;
  visibility: hidden;
  position: absolute;
  max-width: 600px;
  width: 600px;
  opacity: 0;
  z-index: 2;
  left: 50%;
  top: 50%;
}

.search-overlay .search-overlay-form form {
  position: relative;
}

.search-overlay .search-overlay-form form .input-search {
  padding: 0;
  width: 100%;
  height: 70px;
  border: none;
  display: block;
  color: var(--whiteColor);
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 20px;
}

.search-overlay .search-overlay-form form .input-search::-webkit-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--whiteColor);
}

.search-overlay .search-overlay-form form .input-search:-ms-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--whiteColor);
}

.search-overlay .search-overlay-form form .input-search::-ms-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--whiteColor);
}

.search-overlay .search-overlay-form form .input-search::placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--whiteColor);
}

.search-overlay .search-overlay-form form .input-search:focus {
  border-color: var(--whiteColor);
}

.search-overlay .search-overlay-form form .input-search:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-overlay .search-overlay-form form .input-search:focus:-ms-input-placeholder {
  color: transparent;
}

.search-overlay .search-overlay-form form .input-search:focus::-ms-input-placeholder {
  color: transparent;
}

.search-overlay .search-overlay-form form .input-search:focus::placeholder {
  color: transparent;
}

.search-overlay .search-overlay-form form button {
  right: 0;
  top: 13px;
  border: none;
  opacity: 0.7;
  font-size: 25px;
  position: absolute;
  color: var(--whiteColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: transparent;
}

.search-overlay .search-overlay-form form button:hover {
  opacity: 1;
}

.search-overlay.search-overlay-active.search-overlay {
  opacity: 1;
  visibility: visible;
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-layer {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-close {
  opacity: 1;
  visibility: visible;
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-form {
  opacity: 1;
  visibility: visible;
}



/* Min width 1550px */
/*# sourceMappingURL=header.css.map */